@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*The ng-controller directive defines the application controller.
    AngularJS applications are controlled by controllers.
    A controller is a JavaScript Object, created by a standard JavaScript object constructor.*@
<div ng-controller="HomeController">
    {{Message}}
</div>